version: '3'

services:
  zookeeper:
    image: wurstmeister/zookeeper
    ports:
      - 2181:2181
  kafka:
    image: wurstmeister/kafka
    ports:
      - 9092:9092
    environment:
      KAFKA_ADVERTISED_HOST_NAME: localhost #kafka-service on k8s
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_CREATE_TOPICS: "command.notification.send-email"
    depends_on:
      - zookeeper
#  schema-registry:
#    image: confluentinc/cp-schema-registry:6.0.2
#    ports:
#      - 8085:8085
#    environment:
#      SCHEMA_REGISTRY_HOST_NAME: schema-registry
#      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: kafka:9092
#      SCHEMA_REGISTRY_LISTENERS: http://0.0.0.0:8085
#      SCHEMA_REGISTRY_DEBUG: 'true'
#    depends_on:
#      - kafka
  mongo:
    image: mongo
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    volumes:
      - ./data/mongodb:/data/db
  mongo-express:
    image: mongo-express
    ports:
      - 9801:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: root
    depends_on:
      - mongo
  postgres_db:
    image: postgres:13
    ports:
      - 5433:5432
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: keycloak
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
  keycloak:
    image: jboss/keycloak
    ports:
      - 9800:8080 #https 8443
    environment:
      DB_VENDOR: postgres
      DB_ADDR: postgres_db
      DB_PORT: 5432
      DB_USER: root
      DB_PASSWORD: root
      DB_DATABASE: keycloak
      DB_SCHEMA: public
      KEYCLOAK_USER: admin
      KEYCLOAK_PASSWORD: admin
    depends_on:
      - postgres_db
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.11.1
    ports:
      - 9200:9200
      - 9300:9300
    environment:
      discovery.type: "single-node"
  logstash:
    image: docker.elastic.co/logstash/logstash:7.11.1
    volumes:
      - ./logstash/pipeline:/usr/share/logstash/pipeline:ro
    ports:
      - 9600:9600
      - 4560:4560
  kibana:
    image: docker.elastic.co/kibana/kibana:7.11.1
    ports:
      - 5601:5601
volumes:
  db-data: